.sidenav {
    background-color: #FFC164;
    width: 200px;
}

.sidenav a {
    color: rgb(75, 75, 75);
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}