<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Livros
  </mat-card-title>

  <form name="loginForm">
    <mat-form-field>
        <input matInput placeholder="Usuário" [(ngModel)]="login.login" name="login">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Senha" [(ngModel)]="login.senha" name="senha">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="entrar()"
    color="primary">
    Login
  </button>
  <a routerLink="/cadastro" class="delete">
        Cadatro
  </a>
</mat-card>
